#concept{
  .concept_1{
    position:relative;
    overflow:hidden;
    figure.con_cont_1{
      position:relative;
      margin:0;
      height:950px;
      overflow:hidden;
      >p{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background-color:#000;
        overflow:hidden;
        >img{
          width:100%;
          height:100%;
          position:absolute;
          top:0;
        }
      }
      .con1_txt{
        height:auto;
        cite{
          position: absolute;
          top:239px;
          left:50%;
          margin-left:-358.5px;
          width:717px;
          height: 173px;
        }
        p{
          position:absolute;
          top:470px;
          left:50%;
          margin-left:-235px;
          width:360px;
          height:39px;
          img{
            width:100%;
          }
        }
        .btn-next-arr{
          position:absolute;
          bottom:30px;
          left:49%;
          display:block;
          text-indent:-9999px;
          font-size:0;
          width:34px;
          height:60px;
          background:url('../images/models/models/btn-next-arr.png') 0 0 no-repeat;
        }
      }
    }
  }
  .concept_2{
    width:100%;
    height:802px;
    position:relative;
    overflow:hidden;
    figure.con_cont_2{
      ul{
        li.pic_con{
          display:block;
        }
        li{
          display:none;
        }
      }
      position:relative;
      top:0;
      left:0;
      height: 710px;
      ul{
        height: 100%;
        li{
          width: 100%;
          height: 100%;
          display: inline-block;
          position:absolute;
          vertical-align: top;
          &:first-child{
            div{
            display: block;
            }
          }
          div{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            display: none;
            top:0;
            background-color: #000;
            img{
              margin: 0 auto;
              position: absolute;
              top:0;
              z-index: 1;
              width:1600px;
              height: 710px;
            }
          }
        }
      }
    }
    .concept_2_txt{
      height:auto;
      position:absolute;
      z-index:1;
      top: 60px;
      left:400px;
      cite{
        width:780px;
        height:99px;
      }
      p{
        position:absolute;
        top:80px;
        left:372px;
      }
    }
    .slide_bttom_btn{
      height:auto;
      position:relative;
      ul{
        position:absolute;
        top:-50px;
        left:50%;
        z-index:1;
        li.on{
          a{
            background-position: -10px 0;
          }
        }
        li{
          display:inline-block;
          a{
            background-image:url('../images/models/concept/slide_btn.png');
            width:9px;
            height:8px;
            display:inline-block;
            text-indent:-9999px;
            font-size:0;
          }
        }
      }
    }
    p.slide_arrow{
      .prev{
        position:absolute;
        top:40%;
        z-index:1;
      }
      .next{
        position:absolute;
        top:40%;
        right:0;
      }
    }
    .navi_tabs_wrap{
      padding-bottom:35px;
      width:100%;
      height:92px;
      ul{
        position:relative;
        width:1093px;
        height:92px;
        margin:0 auto;
        li.abtop{
          top:-38px;
        }
        li{
          position:relative;
          padding-top: 20px;
          width:auto;
          height:37px;
          display:inline-block;
          padding-right: 27px;
          a{
            font-size:15px;
            color:#000;
            p{
              font-size:13px;
              padding-top:24px;
              color:#999;
            }
          }
        }
      }
    }
  }

  .concept_3{
    position:relative;
    overflow:hidden;
    height:800px;
    figure.con_cont_3{
      p{
        width:100%;
        height:800px;
        position:absolute;
        top:0;
        left:0;
        background-color:#000;
        overflow:hidden;
        img{
          position:absolute;
          left:50%;
          margin-left:-800px;
        }
      }
    }
    .con-cont_txt_3{
      h3{
        position:absolute;
        top:129px;
        left:50%;
        margin-left:-372.5px;
      }
      p{
        position:absolute;
        top:189px;
        left:50%;
        margin-left:-244.5px;
      }
    }
  }
}
