// body,html {height:100%;}
.model_ls600h{
  // margin-left:180px;
  .model_ls600h_1{
    background-color:#000;
    .model_ls600h_1_1{
      position:relative;
      height:950px;
      .lsbg_1{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi1_bg.jpg');
        width:100%;
        height:950px;
        // overflow:hidden;
        background-position:0 0;
        background-repeat:no-repeat;
        background-size:cover;
        // background-attachment:fixed;
      }
      .lstext_1{
        position:absolute;
        top:30px;
        left:60px;
        span{
          position:absolute;
          top:0;
          left:0;
          width:96px;
          height:30px;
        }
        h3{
          position:absolute;
          top:60px;
          left:-10px;
          width:240px;
          height:59px;
        }
        strong{
          position:absolute;
          top:118px;
          left:-11px;
          width:341px;
          height:42px;
        }
        p{
          position:absolute;
          top:150px;
          left:-11px;
          width:316px;
          height:57px;
        }
      }
    }

    .model_ls600h_1_2{

      position:relative;
      height:800px;
      // top:950px;
      height:800px;
      .lsbg_2{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi2_bg.jpg');
        width:100%;
        height:800px;
        // overflow:hidden;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:0 0;
        // background-attachment:fixed;
      }
      .lstext_2{

        h4{
          position:absolute;
          top:110px;
          right:79px;
          width:539px;
          height:106px;
        }
        p{
          position:absolute;
          top:226px;
          right:442px;
          width:176px;
          height:32px;
        }
      }
    }

    .model_ls600h_1_3{
      position:relative;
      height:800px;
      // top:1750px;
      .lsbg_3{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi3_bg.jpg');
        width:100%;
        height:800px;
        // overflow:hidden;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:0 0;
        // background-attachment:fixed;
      }
      .lstext_3{

        h4{
          position:absolute;
          top:110px;
          left:50px;
          width:539px;
          height:106px;
        }
        p{
          position:absolute;
          top:226px;
          left:50px;
          width:176px;
          height:32px;
        }
      }
    }

    .model_ls600h_1_4{
      position:relative;
      height:800px;
      // top:2550px;
      .lsbg_4{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi4_bg.jpg');
        width:100%;
        height:800px;
        // overflow:hidden;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:0 0;
        // background-attachment:fixed;
      }
      .lstext_4{

        h4{
          position:absolute;
          top:530px;
          right:113px;
          width:512px;
          height:106px;
        }
        p{
          position:absolute;
          top:646px;
          right:412px;
          width:209px;
          height:30px;
        }
      }
    }

    .model_ls600h_1_5{
      position:relative;
      height:800px;
      // top:3350px;
      .lsbg_5{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi5_bg.jpg');
        width:100%;
        height:800px;
        // overflow:hidden;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:-43px 0;
      }
    }
  }

  .model_ls600h_2{
    background-color:#FFF;

    .model_ls600h_2_title{
      border-bottom:5px #000 solid;
      padding:80px 0 0;
      margin:0 60px 29px;
      height:86px;
      word-spacing:1.5px;
      letter-spacing:0.2px;

      h2{
        font-size:30px;
        color:#222;
        font-family:'Nobel-Regular','SDGothicNeo1R';
        font-weight:bold;

      }
      p{
        padding:17px 0 17px;
        line-height:1.5;
        span{
          font-size:13px;
          color:#666;
        }
      }
    }
  }

    .model_ls600h_2_content{
      height: 1650px;
      li.tr{
        text-align:right;
        span{
          right: 0;
        }
      }
      li{
        background-color:#000;
        display:block;
        float:left;
        width:50%;
        height:330px;
        // overflow:hidden;
        position:relative;
        a{
          width:100%;
          // overflow:hidden;
          max-width:800px;
          // position:relative;
          span{
            background-image:url("../images/models/models/cp/btn_group.png");
            background-repeat:no-repeat;
            background-position: 0 -450px;
            width:60px; height:60px; display:inline-block; *display: inline; *zoom:1;
            position:absolute; bottom:0;
          }
        }


      }
    }

    .model_ls600h_3{
      .model_ls600h_3_title_ex{
        position: relative;
        padding:80px 0 0;
        margin:0 60px;
        height: 150px;
        word-spacing:1.5px;
        letter-spacing:0.2px;

        h2{
          height:30px;
          font-size:30px;
          color:#222;
          font-family:'Nobel-Regular','SDGothicNeo1R';
          font-weight:bold;
        }
        p{
          padding:21px 0 19px;
          line-height:1.5;
          font-size:13px;
          color:#666;
        }
        h3{
          font-family:'nobel-bold';
          font-size:16px;
          color:#666;
          font-weight:bold;
          border-top:1px #000  solid;
          padding:19px 0 0 10px;
        }
      }

      .model_ls600h_3_ex{
        height:598px;
      .model_3_dg_ex{
        position:relative;
        height:450px;
        background-size:cover;
        background:url('../images/models/models/dg/exterior/ls600hl_dg_bg.jpg');
        .model_3_txt_ex{
          display:block;
          width:264px;
          height:0;
          em{
            font-size:11px;
            color:#A1A1A1;
            // display:block;
            // text-align:right;
            position:absolute;
            right:70px;
            bottom:20px;
          }
          em.mo3_em{
            position:absolute;
            bottom:40px;
          }
        }
        .model_3_view_ex{
          height:450px;
          position:relative;
          div{
            display:none;
          }
          div.pic_ex{
            width:1024px;
            height:450px;
            position:absolute;
            left:50%;
            margin-left:-512px;
            display:block;
            span:first-child{
              display:block;
            }
            span{
              position:absolute;
              display:none;
            }
          }
          div.hover{
            display:block;
            height:450px;
            width:1024px;
            position:absolute;
            left:50%;
            margin-left:-512px;
            div{
              // outline:1px orange solid;
              display:block;
              width:146px;
              height:450px;
              float:left;
            }
          }
        }


        .model_3_nav_ex{
          height:70px;
          padding:19px 0 58px;
          text-align:center;
            ul{
              padding-bottom:13px;
              li{
                display:inline-block;
              }
            }
            span{
              font-size:0.75em;
              color:#666;
              letter-spacing:0.2px;
              word-spacing:1.5px;
              font-weight:bold;
            }
        }
      }
    }

    .model_ls600h_3_in{
      height:652px;
      position:relative;

      .model_ls600h_3_title_in{
        height:505px;
        h3{
          margin:0 60px;
          position:relative;
          font-family:'nobel-bold';
          font-size:16px;
          color:#666;
          font-weight:bold;
          border-top:1px #000  solid;
          padding:19px 0 19px 10px;
         }
        }
        .model_3_dg_in{
          height: auto;
          .model_3_view_in{
            position:absolute;
            top:55px;
            width:100%;
            height:450px;
            background-color: #000;
            div{
              display:none;
              span{
                img{
                  position:absolute;
                  width:1600px;
                  height:450px;
                  left:50%;
                  margin-left:-800px;
                }
              }
            }
            div.pic_in{
              display: block;
              height:450px;
            }

          }
          .model_3_nav_in{
            height:70px;
            padding:19px 0 58px;
            text-align:center;
              ul{
                padding-bottom:13px;
                li{
                  display:inline-block;
                  a{
                    cursor:auto;
                  }
                }
              }
              span{
                font-size:0.75em;
                color:#666;
                letter-spacing:0.2px;
                word-spacing:1.5px;
                font-weight:bold;
              }
            }
          }
        }
    }

    .model_ls600h_3_wh{
      height:712px;
      position:relative;
      .model_ls600h_3_title_wh{
        height:55px;
        h3{
          margin:0 60px;
          position:relative;
          font-family:'nobel-bold';
          font-size:16px;
          color:#666;
          font-weight:bold;
          border-top:1px #000  solid;
          padding:19px 0 19px 10px;
         }
        }
        .model_3_dg_wh_p{
          background-color: #000;
          height:510px;
          .model_3_dg_wh{
            position:absolute;
            left:50%;
            margin-left:-800px;
            top:55px;
            width:1600px;
            height:510px;
            background-size:cover;
            background:url('../images/models/models/dg/wheel/ls600hl_dg_wheel_bg.jpg');
            .model_3_nav_wh{
              height:70px;
              padding:19px 0 58px;
              text-align:center;
              margin-top:510px;
                ul{
                  padding-bottom:13px;
                  li{
                    display:inline-block;
                  }
                }
                span{
                  font-size:0.75em;
                  color:#666;
                  letter-spacing:0.2px;
                  word-spacing:1.5px;
                  font-weight:bold;
                }
              }
            }
        }

        }


    .model_ls600h_4{
      background-color:#F3F3F3;
      height:auto;
      .model_ls600h_4_title{
        padding-top:80px;
        margin:0 60px;
        height:auto;
        h2{
          font-size:30px;
          color:#222;
          font-weight:bold;
        }
        p{
          padding:21px 0 18px;
          font-size:0.75em;
          color:#666;
        }
      }
      .model_ls600h_4_sp{
        padding:0 60px 60px;
        height:auto;
        dl{
          dt{
            span.hline{
              display:block;
              height:5px;
              background-color:#000;
            }
            span.line{
              display:block;
              height:1px;
              background-color:#000;
            }
            a{
              position:relative;
              display:block;
              margin-top:8px;
              padding:17px 0;
              span{
                .smoothfont();
                font-size:14px;
                font-weight:bold;
                padding-left:10px;
                color:#000;
              }
              p.arrow_1{
                span{
                  background-position:-22px -103px;
                }
              }
              p.arrow{
                position:absolute;
                top:24px;
                right:17px;
                span{
                  outline: 1px #00F solid;
                  background-image:url('../images/btn_group.png');
                  background-repeat: no-repeat;
                  background-position:-40px -73px;
                  display:block;
                  // width:10px;
                  height:8px;
                }
              }
            }
          }
          dd.disnon{
            display:none;
          }
          dd.on{
            display:block;
          }
          dd{
            div.spec_cont_wrap{
              padding-bottom:51px;
              height:auto;
              div.spec_cont_img{
                height:180px;
                margin:45px auto 23px;
                span{
                  display:block;
                  float:left;
                  text-align:center;
                }
              }
              div.spec_cont_list{
                height:auto;
                .mr{
                  margin-right:0;
                }
                table{
                  float:left;
                  width:47.5%;
                  margin:0 5% 34px 0;
                  caption{
                    font-size:13px;
                    font-weight:bold;
                    border-bottom:1px #e0e0e0 solid;
                    color:#393939;
                    padding: 10px 10px 6px;
                    text-align:left;
                  }
                  tbody{
                    tr{
                      font-size:0.75em;
                      text-align: left;
                      border-bottom:1px #e0e0e0 solid;
                      color:#666;
                      th{
                        padding:10px 0 6px 10px;
                        font-weight:normal;
                      }
                      td{
                        padding:10px 0 6px 10px;
                      }
                    }
                  }
                }
              }
              ul{
                li{
                  font-size:0.75em;
                  margin-bottom:10px;
                  padding:0 10px 0 14px;
                  display:block;
                  em{
                    display:inline-block;
                    background-color:#9A9A9A;
                    width:2px;
                    height:2px;
                    margin:0 9px 0 -11px;
                  }
                }
              }
            }
            table{
              width:100%;
              margin-bottom:30px;
              caption{
                font-size:0;
                text-indent:-9999px;
                visibility:hidden;
                width:0;
                height:0;
              }
              thead{
                tr{
                  th{
                    padding:17px 3px;
                    span{
                      font-size:0;
                      text-indent:-9999px;
                      visibility:hidden;
                    }
                    em{
                      font-size:0.75em;
                      color:#666;
                    }
                  }
                }
              }
              tbody{
                tr{
                  td.sell_left{text-align:left;}
                  td{
                    padding:10px 10px 6px;
                    border-bottom:1px #e0e0e0 solid;
                    color:#666;
                    font-size:0.75em;
                    text-align:center;
                    span{
                      text-indent:-9999px;
                      background-image:none;
                      background-position: -90px -75px;
                      background-repeat:no-repeat;
                      display:inline-block;
                      width:18px;
                      height:17px;
                      &.on{
                        background-image:url('../images/btn_group.png');
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .model_ls600h_5{
      .model_ls600h_5_title{
        padding-top:80px;
        margin:0 60px;
        height:auto;
        h2{
          font-size:30px;
          color:#222;
          font-weight:bold;
        }
        p{
          padding:21px 0 18px;
          font-size:0.75em;
          color:#666;
          span{display:block; line-height:1.5;}
        }
      }
      .model_ls600h_5_cont{
        padding:0 60px;
        height:283px;
        .model_ls600h_5_cont_price{
          width:1603px;
          height:auto;
          ol{
            float:left;
            width:1243px;
            margin-right:60px;
            padding-bottom:5px;
            li{
              span.hline{
                display:block;
                height:5px;
                background-color:#000;
              }
              a{
                position:relative;
                display:block;
                padding:16px 10px;
                margin-top:8px;
                cite{
                  font-size:14px;
                  font-weight:bold;
                  span{
                    display:inline-block;
                    width:30px;
                  }
                }
                p{
                  position:absolute;
                  top:15px;
                  right:10px;
                  span{
                    background-image:url('../images/btn_group.png');
                    background-position:-40px -76px;
                    background-repeat:no-repeat;
                    display:inline-block;
                    width:10px;
                    height:7px;
                  }
                }
              }
              ul{
                padding:30px 0;
                li{
                  display:inline-block;
                  padding:15px 0 0 20px;
                  font-size: 0.75em;

                  p{
                    width:130px;
                    input{
                      visibility:hidden;
                    }
                      label{
                        position: relative;
                        em{
                          display:inline-block;
                          background-image:url('../images/btn_group.png');
                          background-position:-132px -99px;
                          width:15px;
                          height:15px;
                          margin-left:-26px;
                          margin-right:10px;
                          position:absolute;
                          top:-3px;
                        }
                      }
                  }
                }
              }
            }
          }
          .checkzone{
            width:300px;
            height:auto;
            float:left;
            cite{
              position:absolute;
              left:-9999px;
              top:-9999px;
              font-size: 0;
              text-indent: -9999px;
              visibility:hidden;
            }
            span.hline{
              display:block;
              background:#000;
              height:6px;
            }
            dl{
              dd:first-child{
                padding-bottom:30px;
                display:block;
                p{
                  height:40px;
                  padding:40px 0;
                  font-size:40px;
                  font-weight:bold;
                  color:#222;
                  span{
                    width:17%;
                    float:left;
                    display:block;
                  }
                  span:last-child{
                    width:83%;
                    text-align:right;
                  }
                }
              }
              dd.b_box{
                p{
                  background-image:url('../images/models/models/bluebox.jpg');
                  padding:19px;
                  span:first-child{
                    line-height:initial;
                  }
                  span{
                    display:block;
                    margin-bottom:5px;
                    color:#FFF;
                    letter-spacing:1px;
                    font-size:0.75em;
                    word-spacing:0.5px;
                    line-height:1.4;
                  }
                }
              }
            }
          }
        }
      }
    }

    .model_ls600h_6{
      .model_ls600h_6_title{
        padding-top:80px;
        margin:0 60px;
        height:auto;
        h2{
          font-size:30px;
          color:#222;
          font-weight:bold;
        }
        p{
          padding:21px 0 18px;
          font-size:0.75em;
          color:#666;
          span{display:block; line-height:1.5;}
        }
      }
      .model_ls600h_6_cont{
        padding:0 60px 100px;
        height:auto;
        .model_ls600h_6_cont_req{
          width:1603px;
          height:auto;
          ol{
            float:left;
            width:1243px;
            margin-right:60px;
            padding-bottom:5px;
            li{
              span.hline{
                display:block;
                height:5px;
                background-color:#000;
              }
              a{
                position:relative;
                display:block;
                padding:16px 10px;
                margin-top:8px;
                cite{
                  font-size:14px;
                  font-weight:bold;
                  span{
                    display:inline-block;
                    width:30px;
                  }
                }
                p{
                  position:absolute;
                  top:15px;
                  right:10px;
                  span{
                    background-image:url('../images/btn_group.png');
                    background-position:-40px -76px;
                    background-repeat:no-repeat;
                    display:inline-block;
                    width:10px;
                    height:7px;
                  }
                }
              }
              ul{
                padding:30px 0;
                li{
                  display:inline-block;
                  padding:15px 0 0 20px;
                  font-size: 0.75em;

                  p{
                    width:130px;
                    input{
                      visibility:hidden;
                    }
                      label{
                        position: relative;
                        em{
                          display:inline-block;
                          background-image:url('../images/btn_group.png');
                          background-position:-132px -99px;
                          width:15px;
                          height:15px;
                          margin-left:-26px;
                          margin-right:10px;
                          position:absolute;
                          top:-3px;
                        }
                      }
                  }
                }
              }
            }
            li{
              display: block;
              span.line{
                margin-top:5px;
                display:block;
                height:1px;
                background:#000;
              }
              a{
                position:relative;
                margin-top:8px;
                padding:16px 10px 16px;
                color:#bbb;
                font-size:14px;
                cite{
                  color:#bbb;
                  span{
                    display:inline-block;
                    width:30px;
                    color:#bbb;
                  }
                }
                p{
                  span.arrow_0{
                    background-image:url('../images/btn_group.png');
                    background-position:-55px -76px;
                  }
                }
              }
              .psinfo{
                padding-top:30px;
                height:auto;
                dl{
                  padding:36px 0 0 10px;
                  dt{
                    float:left;
                    width:25%;
                    height:30px;
                    line-height:30px;
                    padding-bottom:30px;
                    label{
                      display:inline-block;
                      width:60px;
                      padding-left:30px;
                      font-size:13px;
                    }
                  }
                  dd{
                    display:inline-block;
                    width:75%;
                    height:30px;
                    padding-bottom:30px;
                    span{
                      display:inline-block;
                      width:65.5%;
                      input{
                        display:inline-block;
                        padding:0 2%;
                        width:100%;
                        height:30px;
                        border:1px #bbb solid;
                      }
                    }
                    select{
                      padding:0 0 0 1%;
                      width:100%;
                      height:30px;
                      // border:1pc #bbb solid;
                      font-size:12px;
                      -webkit-appearance:menulist;
                    }
                  }
                  dd.email-holder{
                    span{
                      width:28%;
                      height:30px;
                    }
                    em{
                      margin-left:1.5%;
                      width:5.1%;
                      height:30px;
                      line-height:30px;
                      display:inline-block;
                      text-align:center;
                    }
                  }
                }
                ul{
                  padding:0 0 30px 30px;
                  vertical-align: middle;
                  li{
                    padding:0 6px 3px 12px;
                    line-height:1.3;
                    display:list-item;
                    em{
                      display:inline-block;
                      width:4px;
                      height:12px;
                      background-image:url('../images/sprite_bul_pat.png');
                      background-repeat:no-repeat;
                      background-position: 0 -12px;
                      vertical-align:middle;
                    }
                  }
                }
                .more-info-agree{
                  padding:0 0 17px 30px;
                  height:auto;
                  p{
                    width:160px;
                    display:inline-block;
                    input{
                      width:13px;
                      height:13px;
                      visibility:hidden;
                      position: relative;
                      top:20px;
                      left:-28px;
                    }
                    label{
                      display:inline-block;
                      vertical-align:top;
                      em{
                        display:inline-block;
                        width:16px;
                        height:16px;
                        background-image:url('../images/btn_group.png');
                        background-repeat:no-repeat;
                        background-position: -90px -99px;
                        margin-left:-26px;
                        margin-right:4px;
                        vertical-align:middle;
                      }
                      span{
                        font-size:0.75em;
                        letter-spacing:-0.8px;
                        color:#666;
                      }
                    }
                  }
                  a.more{
                    display:inline-block;
                    font-size:0.75em;
                    padding:2px 0 1px 0;
                    margin-top:0;
                    color:#666;
                    span{
                      background-image:url('../images/sprite_bul_pat.png');
                      background-repeat:no-repeat;
                      background-position: 0 -31px;
                      display: inline-block;
                      width:10px;
                      height:10px;
                    }
                  }
                }
                p{
                  padding-bottom:30px;
                  a{
                    display:block;
                    padding:21px 0 19px;
                    font-size:20px;
                    color:#FFF;
                    background-color:#000;
                    font-weight:bold;
                    text-align:center;
                  }
                }
              }
            }
          }
          .checkzone_map{
            width:300px;
            height:auto;
            float:left;
            cite{
              position:absolute;
              left:-9999px;
              top:-9999px;
              font-size: 0;
              text-indent: -9999px;
              visibility:hidden;
            }
            span.hline{
              display:block;
              height:6px;
            }
            dl{
              dd{
                div{
                  height:auto;
                  img{

                  }
                }
              }
              dt{
                padding:29px 0 32px;
                color:#000;
                font-weight:bold;
                font-size:24px;
                line-height:1;
              }
              dd{
                position:relative;
                table{
                  caption{font-size:0; text-indent:-9999px; position:absolute; top:-9999px; left:-9999px; }
                  tbody{
                    tr{
                      font-size:13px;
                      border-bottom:1px #e0e0e0 solid;
                      width:300px;
                      display:block;
                      th{color:#bbb; font-weight:normal; text-align:left; padding:11px 0 9px;}
                      td{
                        text-align:right;
                        color:#707070;
                        padding:11px 0 9px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}
