// body,html {height:100%;}
.model_ls600h{
  // margin-left:180px;
  .model_ls600h_1{
    background-color:#000;
    .model_ls600h_1_1{
      position:relative;
      height:950px;
      .lsbg_1{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi1_bg.jpg');
        width:100%;
        height:950px;
        // overflow:hidden;
        background-position:0 0;
        background-repeat:no-repeat;
        background-size:cover;
        // background-attachment:fixed;
      }
      .lstext_1{
        position:absolute;
        top:30px;
        left:60px;
        span{
          position:absolute;
          top:0;
          left:0;
          width:96px;
          height:30px;
        }
        h3{
          position:absolute;
          top:60px;
          left:-10px;
          width:240px;
          height:59px;
        }
        strong{
          position:absolute;
          top:118px;
          left:-11px;
          width:341px;
          height:42px;
        }
        p{
          position:absolute;
          top:150px;
          left:-11px;
          width:316px;
          height:57px;
        }
      }
    }

    .model_ls600h_1_2{

      position:relative;
      height:800px;
      // top:950px;
      height:800px;
      .lsbg_2{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi2_bg.jpg');
        width:100%;
        height:800px;
        // overflow:hidden;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:0 0;
        // background-attachment:fixed;
      }
      .lstext_2{

        h4{
          position:absolute;
          top:110px;
          right:79px;
          width:539px;
          height:106px;
        }
        p{
          position:absolute;
          top:226px;
          right:442px;
          width:176px;
          height:32px;
        }
      }
    }

    .model_ls600h_1_3{
      position:relative;
      height:800px;
      // top:1750px;
      .lsbg_3{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi3_bg.jpg');
        width:100%;
        height:800px;
        // overflow:hidden;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:0 0;
        // background-attachment:fixed;
      }
      .lstext_3{

        h4{
          position:absolute;
          top:110px;
          left:50px;
          width:539px;
          height:106px;
        }
        p{
          position:absolute;
          top:226px;
          left:50px;
          width:176px;
          height:32px;
        }
      }
    }

    .model_ls600h_1_4{
      position:relative;
      height:800px;
      // top:2550px;
      .lsbg_4{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi4_bg.jpg');
        width:100%;
        height:800px;
        // overflow:hidden;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:0 0;
        // background-attachment:fixed;
      }
      .lstext_4{

        h4{
          position:absolute;
          top:530px;
          right:113px;
          width:512px;
          height:106px;
        }
        p{
          position:absolute;
          top:646px;
          right:412px;
          width:209px;
          height:30px;
        }
      }
    }

    .model_ls600h_1_5{
      position:relative;
      height:800px;
      // top:3350px;
      .lsbg_5{
        position:absolute;
        background-image:url('../images/models/models/mi/ls600h_mi5_bg.jpg');
        width:100%;
        height:800px;
        // overflow:hidden;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:-43px 0;
      }
    }
  }

  .model_ls600h_2{
    background-color:#FFF;

    .model_ls600h_2_title{
      border-bottom:5px #000 solid;
      padding:80px 0 0;
      margin:0 60px 29px;
      height:86px;
      word-spacing:1.5px;
      letter-spacing:0.2px;

      h2{
        font-size:30px;
        color:#222;
        font-family:'Nobel-Regular','SDGothicNeo1R';
        font-weight:bold;

      }
      p{
        padding:17px 0 17px;
        line-height:1.5;
        span{
          font-size:13px;
          color:#666;
        }
      }
    }
  }

    .model_ls600h_2_content{
      height: 1650px;
      li{
        outline: 1px #F00 solid;
        background-color:#000;
        display:block;
        float:left;
        width:50%;
        height:330px;
        // overflow:hidden;
        position:relative;
        a{
          width:100%;
          // overflow:hidden;
          max-width:800px;
          // position:relative;
          span{
            outline:1px #F00 solid;
            background-image:url("../images/models/models/cp/btn_group");
            background-repeat:no-repeat;
            background-position: -47px -356px;
            width:60px; height:60px; display:inline-block; *display: inline; *zoom:1;
            position:absolute; bottom:0;

          }
        }


      }
    }

    .model_ls600h_3{
      .model_ls600h_3_title_ex{
        outline:1px #F00 solid;
        position: relative;
        padding:80px 0 0;
        margin:0 60px;
        height: 150px;
        word-spacing:1.5px;
        letter-spacing:0.2px;

        h2{
          height:30px;
          font-size:30px;
          color:#222;
          font-family:'Nobel-Regular','SDGothicNeo1R';
          font-weight:bold;
        }
        p{
          padding:21px 0 19px;
          line-height:1.5;
          font-size:13px;
          color:#666;
        }
        h3{
          font-family:'nobel-bold';
          font-size:16px;
          color:#666;
          font-weight:bold;
          border-top:1px #000  solid;
          padding:19px 0 0 10px;
        }
      }

      .model_ls600h_3_ex{
        height:455px;
      .model_3_dg_ex{
        outline:1px #00F solid;
        position:relative;
        height:450px;
        background-size:cover;
        background:url('../images/models/models/dg/exterior/ls600hl_dg_bg.jpg');
        .model_3_txt_ex{
          display:block;
          width:264px;
          height:22px;
          em{
            font-size:11px;
            color:#A1A1A1;
            // display:block;
            // text-align:right;
            position:absolute;
            right:70px;
            bottom:20px;
          }
          em.mo3_em{
            position:absolute;
            bottom:40px;
          }
        }
        .model_3_nav_ex{
          height:70px;
          padding:19px 0 58px;
          text-align:center;
          margin-top:430px;
          outline:1px #00F solid;
            ul{
              padding-bottom:13px;
              li{
                display:inline-block;
              }
            }
            span{
              font-size:0.75em;
              color:#666;
              letter-spacing:0.2px;
              word-spacing:1.5px;
              font-weight:bold;
            }
        }
      }
    }

    .model_ls600h_3_in{
      height:778px;
      position:relative;

      .model_ls600h_3_title_in{
        height:778px;
        outline:1px #F0F solid;
        h3{
          outline: 1px #F0F solid;
          margin:0 60px;
          position:relative;
          top:146px;
          font-family:'nobel-bold';
          font-size:16px;
          color:#666;
          font-weight:bold;
          border-top:1px #000  solid;
          padding:19px 0 19px 10px;
         }
        }
        .model_3_dg_in{
          position:absolute;
          top:200px;
          width:100%;
          height:450px;
          background-size:cover;
          background:url('../images/models/models/dg/interior/ls600hl_dg_in_bg_1.jpg');
          .model_3_nav_in{
            height:70px;
            padding:19px 0 58px;
            text-align:center;
            margin-top:430px;
            outline:1px #00F solid;
              ul{
                padding-bottom:13px;
                li{
                  display:inline-block;
                }
              }
              span{
                font-size:0.75em;
                color:#666;
                letter-spacing:0.2px;
                word-spacing:1.5px;
                font-weight:bold;
              }
            }
          }
        }




    }

    .model_ls600h_3_wh{
      height:778px;
      position:relative;

      .model_ls600h_3_title_wh{
        height:778px;
        outline:1px #F0F solid;
        h3{
          outline: 1px #F0F solid;
          margin:0 60px;
          position:relative;
          // top:146px;
          font-family:'nobel-bold';
          font-size:16px;
          color:#666;
          font-weight:bold;
          border-top:1px #000  solid;
          padding:19px 0 19px 10px;
         }
        }
        .model_3_dg_wh{
          position:absolute;
          top:54px;
          width:100%;
          height:450px;
          background-size:cover;
          background:url('../images/models/models/dg/wheel/ls600hl_dg_wheel_bg.jpg');
          .model_3_nav_wh{
            height:70px;
            padding:19px 0 58px;
            text-align:center;
            margin-top:430px;
            outline:1px #00F solid;
              ul{
                padding-bottom:13px;
                li{
                  display:inline-block;
                }
              }
              span{
                font-size:0.75em;
                color:#666;
                letter-spacing:0.2px;
                word-spacing:1.5px;
                font-weight:bold;
              }
            }
          }
        }


    .model_ls600h_4{
      
    }
}
