#news{
  .news_title_wrap{
    height:auto;
    padding:40px 0 50px;
    margin:0 60px;
    p{
      padding-bottom:16px;
      color:#666;
      line-height:1.5;
      span{
        font-size:13px;
      }
    }
    h2{
      font-size:34px;
      color:#222;
      font-family:'Nobel-Regular','SDGothicNeo1R';
      font-weight:bold;
    }
  }
  .news_cont{
    padding:0 60px 60px;
    height:auto;
    .sch_form_wrap{
      height:58px;
      position:relative;
      .inner-wrap{
        height:30px;
        position:absolute;
        top:0;
        right:0;
        select{
          width:90px;
          height:30px;
          border:none;
          border-bottom:2px #111 solid;
          // background-image: url('../images/company/news/news_select.png');
          // background-size:8px 5px;
          // background-repeat: no-repeat;
        }
        .input_wrap{
          border-bottom:2px #111 solid;
          display:inline-block;
          width:180px;
          height:30px;
          margin-left:24px;
          label{
            display:none;
          }
          input{
            width:120px;
            height:28px;
            border:none;
            display:inline-block;
          }
          // button{
          //   font-size:0;
          //   text-indent:-9999px;
          // }
        }
      }
    }

    ul.pic_list_wrap{
      li{
        width:21.5%;
        height:360px;
        margin-right:4.3%;
        float:left;
        display:inline-block;
        a{
          width:300px;
          color:#222;
          display:block;
          span{
            position:relative;
            img{
              width:100%;
            }
            em{
              position: absolute;
              top:-33px;
              right:0;
              width:46px;
              height:46px;
              background-image: url('../images/btn_group.png');
              background-position: -46px -355px;
            }
          }
          p.text_wrap{
            letter-spacing:0.2px;
            word-spacing:1.5px;
            padding:18px 0 5px;
            .text{
              width:100%;
              display:block;
              text-overflow:ellipsis;
              white-space:nowrap;
              overflow:hidden;
              padding-bottom:13px;
              font-weight:bold;
              font-size:14px;
              line-height:1.4;
              font-weight:bold;
            }
            .sub_text{
              display:block;
              padding-bottom:18px;
              font-size:0.75em;
              line-height:1.6;
            }
            .data{
              font-size:10px;
            }
          }
        }
      }
      li.last_col{
        margin-right:0;
      }
    }

    .popup_wrap{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    .popup_content{
      position: relative;
      top: 0;
      width: 68%;
      width:660px;
      height:718px;
      margin-left: 680px;
      margin-top: 117px;
      background-color:#fff;
   .popup_inner{
        height:718px;
    .slide{
        height: 100%;
        overflow: hidden;
        position: relative;
        // width:8936px;
    .slide_1{
        width: 100%;
        height: 100%;
        display: inline-block;
        height:718px;
        position: absolute;
        display: block;
    .pic{
        display: block;
        width:660px;
        height:390px;
        position:absolute;
        top:0;
        left:0;
        img{
          width:100%;
          height:100%;
        }
          }
      .infor{
        position: absolute;
        top:390px;
        left:0;
        height:217px;
        >p{
              margin: 0 30px;
              height:77px;
          >span{
            font-weight: bold;
            display: block;
            height:27px;
            width: 100%;
            padding: 25px 0;
            font-size: 22px;
            color:#222;
            }
           }
          >div{
              font-size: 14px;
              height:138px;
              margin: 0 2px 0 30px;
            >p{
              font-size: 14px;
              color: #777;
              }
            }
          }
         }
        }
       }
    .popup_btn{
      position:relative;
      top:-70px;
      height: 18px;
      margin: 0 30px;
      padding: 30px 0;
      border-top: 1px solid #d2d2d2;
      span{
      font-weight: bold;
      font-size: 12px;
      display: block;
      height: 12px;
      padding: 2px 0;
      color: #333;
      }
    .next{
      float:right;
    .next_btn{
      right: 0;
      }
    span{
      padding-right: 12px;
      }
    }
    .prev{
      float: left;
    .prev_btn{
      }
      span{
      padding-left: 12px;
            }
          }
      a{
        display: block;
        position: relative;
      .icon{
        display: block;
        position: absolute;
        top:2px;
        width:6px;
        height:12px;
            }
          }
      }

      .close_btn{
        position: absolute;
        top:0;
        right:0;
        width:60px;
        height:60px;
      a{
        width:60px;
        height:60px;
        display: block;
        // background: url(../image/PERFORMANCE/btn_close_bg.png) repeat 0 0;
      span{
        text-indent: -99999px;
        font-size: 0px;
        display:inline-block;
        width: 22px;
        height: 22px;
        margin: 20px 0 0 20px;
        background-image:url('../images/btn_group.png');
        background-repeat:no-repeat;
        background-position: -70px -163px;
            }
          }
        }


    }
        .blind{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(../image/PERFORMANCE/bg_overlay.png) repeat 0 0;
        z-index: 5;
      }

    p{
      a{
        display:inline-block;
        width:100%;
        height:60px;
        background-color:#2a2a2a;
        color:#FFF;
        line-height:60px;
        text-align:center;
        font-size:16px;
        font-weight:bold;
      }
    }
  }
 }
}
