#submit{
  .submit_1{
    outline:1px green solid;
    padding-bottom:100px;
    .submit_1_title{
      height:auto;
      padding:39px 0 15px;
      margin:0 60px;
      p{
        padding-bottom:19px;
        span{
          font-size:13px;
          color:#666;
        }
      }
      cite{
        font-size:34px;
        color:#222;
        font-weight:bold;
      }
    }
    .submit_1_cont{
      outline:1px green solid;
      height:auto;
      padding:0 60px 60px;
      div{
        outline:1px #000 solid;
        width:1603px;
        ol{
          outline:1px #CCC solid;
          width:1243px;
          margin-right:60px;
          padding-bottom:5px;
          // float:left;
          border-bottom:1px #e0e0e0 solid;
          li{
            span.hline{
              display:block;
              height:6px;
              color:#000;
              // margin-top:0;
            }
            a{
              position:relative;
              display:block;
              margin-top:8px;
              padding:16px 10px 16px;
              color:#000;
              font-size:14px;
              cite{
                display:inline-block;
                width:30px;
              }
              p{
                outline:1px #F00 solid;
                position:absolute;
                top:15px;
                right:10px;
                span.arrow{
                  display:block;
                  width:10px;
                  height:5px;
                  background-image:url('../images/btn_group.png');
                  background-repeat:no-repeat;
                  background-position:-40px -76px;
                }
              }
            }
            ul.content-area{
              outline:1px orange solid;
              height:473px;
              padding-top:23px;
              >li{
                outline:1px #F00 solid;
                float:left;
                display:block;
                width:145px;
                height:210px;
                padding-left:20px;
                p.cont_title{
                  height:70px;
                  font-size:55px;
                  color:#bbb;
                  .smoothfont();
                }
                ul{
                  li{
                    padding:7px 0;
                    display:block;
                    p{
                      outline:1px #F00 solid;
                      font-size:0.75em;
                      height:16px;
                      input{
                        outline:1px green solid;
                        position:relative;
                        top:-3px;
                        left:-4px;
                        width:15px;
                        height:15px;
                        vertical-align:top;
                        // visibility:hidden;
                      }
                      label{
                        outline:1px blue solid;
                        display:inline-block;
                        margin-left:-29px;
                        em{
                          background-image: url('../images/btn_group.png');
                          background-position: -132px -99px;
                          background-repeat:no-repeat;
                          display:inline-block;
                          width:16px;
                          height:16px;
                          vertical-align:middle;
                          outline:1px blue solid;
                        }
                        span{
                          padding-left:6px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
